@import "tailwindcss";
body{
    background-color: #80cbc4;
    background: linear-gradient(to bottom right, #80cbc4, #009688, #004d40);
}

a.active{color: rgb(246, 255, 0);font-size: 18px;}
.hscan{
    background-image: url('src/assets/fa.jpg');
        background-repeat: no-repeat;
        background-size: cover;
 
}
